In [2]:
import pandas as pd

In [4]:
metadata_filenames = pd.read_csv("./data/Filenames and Depths (old).csv")

display(metadata_filenames.head())
metadata_filenames["Filenames"] = metadata_filenames["Filenames"].str.slice(79, 110)


display(metadata_filenames.head())
metadata_filenames.to_csv("./data/depths.csv", index=False, header=True)

,Filenames,Depth from lung surface (in micrometers) where image was acquired
0,/Users/smp6p/Documents/TEACHING/Teaching - BME...,15
1,/Users/smp6p/Documents/TEACHING/Teaching - BME...,30
2,/Users/smp6p/Documents/TEACHING/Teaching - BME...,45
3,/Users/smp6p/Documents/TEACHING/Teaching - BME...,55
4,/Users/smp6p/Documents/TEACHING/Teaching - BME...,60

,Filenames,Depth from lung surface (in micrometers) where image was acquired
0,MASK_SK658 Llobe ch010039.jpg,15
1,MASK_SK658 Llobe ch010021.jpg,30
2,MASK_SK658 Llobe ch010017.jpg,45
3,MASK_SK658 Llobe ch010036.jpg,55
4,MASK_SK658 Llobe ch010019.jpg,60